# ignore all the files with the extension .out and .info
**/*.out
**/*.info
**/*.msh
**/*nodes*
**/*elements*
**/*fixity*
**/*load*  
**/*boundary*
**/*NodeDisp*
**/*mpconstraint*
**/*.h5drm
**/*DRMLOAD*
**/acc.txt
**/coords.txt
**/disp.txt
**/vel.txt
**/pmlmesh.txt*
build
*.so
*.dll
.vscode
lib
METISLIBRARY
GKLIBRARY
DRM/Rickerwavelet/*.txt
PML_DRM_Pile/EmbeddedInterfaceElement/MP/movie/Pics/*.svg*
PML_DRM_Pile/EmbeddedInterfaceElement/MP/OpenSeesmesh/*
PML_DRM_Pile/Pilewithfoundaton/OpenSeesmesh/*
PML_DRM_Pile/Pilewithfoundaton/movie/Pics/*
**/*.dat
**/Pics*
**/OpenSeesmesh/*.tcl
**/PML_DRM_Pile/ShakerMaker
**/Structure/OpenSeesmesh
**/Structure/Results
# **/PML_DRM_Pile/
# PML_DRM_Pile/Pilewithfoundaton/movie/Pics/0000.svg
